.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.prod-div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 20vh;
}
.prod-div img{
  width: 25vw;
  height: 40vh;
  padding: 1rem;
  border-radius: 2rem;
}
.item-div{
  padding-bottom: 2rem;
}
.item-qty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: auto;
}

.containerItemsCart {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.outlined{
  padding-left: 2rem;
  padding-top: 2rem;
  min-height: 85vh;
}

.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  width:100%;
  min-height: 40vh;
}
.cartItemCuadro{
width: 80%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between; 
}
.containerItemsCart img {
  width: 20%;
  height: 30vh;
}

.formularioCheckout{
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}